{
  "presets": ["env", "react", "stage-0"],
  "env": {
    "production": {
      "ignore": "**/test.js",
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ]
      ]
    }
  }
}
