$primary-color: #03a9f4;

.demo-container {
  border: 1px solid #ccc;
  margin: 40px auto;
  padding: 0;
  width: 768px;

  > h1 {
    color: $primary-color;
    text-align: center;
  }
}

.react-sanfona {
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 70px;
}

.react-sanfona-item {

  &-title {
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    color: #333;
    padding: 20px;
    text-transform: uppercase;
    transition: background-color .3s;
  }

  &-expanded &-title {
    background-color: $primary-color;
    color: #fff;
  }

  &-body-wrapper {
    color: #666;
    padding: 20px;
  }

}
